
{% extends 'index.html' %}

{% block content %}

    <head>
      <title> home </title>
    </head>

    <body>

      <!-- ======= Main Section ======= -->
      <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="container text-center text-md-left" data-aos="fade-up">
          <h1> Audio Dubber </h1>
          <h2> To learn more click <a href="#about"> here </a> </h2>
          <a href="{}" class="btn-get-started scrollto">START</a>
          <br> <br>
          <!-- <a href="{}" class="btn-get-started scrollto">Affiliate member login</a> -->
        </div>

      </section>
      <!-- Main Hero -->

    
    
      <main id="main">
        
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
          <div class="container">
    
            <div class="row">
              <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="static/img/2.png" class="img-fluid" alt="">
              </div>
              <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                <h3 data-aos="fade-up">About us</h3>
                <p data-aos="fade-up">
                    We provide software solutions to audio dubbing videos in any language
                </p>
                <div class="icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4>Translation Score of 95+/100</h4>
                  <p> We leverage different API's for translation and audio dubbing and use the best one with the help of data science models  </p>
                </div>
    
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Designed for dubbing</h4>
                  <p>Our artificial intelligence and data science models are designed specifically for audio dubbing.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
    
        <!-- End About Section -->
    
        <!-- ======= Steps Section ======= -->
        <!-- <section id="steps" class="steps section-bg">
          <div class="container">
    
            <div class="row no-gutters">
    
              <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
                <span></span>
                <h4>60 Questions</h4>
                <p>There are 4 groups with 15 questions each. Affinity, Collection of Information,Make Decision, and Time Spending</p>
              </div>
  
    
              <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="200">
                <span>01 Affinity </span>
                <h4>  Extrovert</h4>
                <p> An extrovert is an outgoing, overtly expressive person</p>
              </div>
    
              <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="300">
                <span>01 Affinity </span>
                <h4>  Introvert</h4>
                <p>An introvert is a shy, reticent person</p>
              </div>
    
              <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="400">
                <span>02 Collection</span>
                <h4> Sensing</h4>
                <p>Sensing focuses on what can be detected through the five senses. If you can see, hear, smell, taste, or touch something, then it is a fact. </p>
              </div>
    
              <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="500">
                <span>02 Collection </span>
                <h4> Intuition</h4>
                <p>The ability to understand something immediately, without the need for conscious reasoning</p>
              </div>

              <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="500">
                <span>03 make decision </span>
                <h4> Feeling</h4>
                <p>Feelings are mental associations. They can be our reactions to emotions, sensations, or other things around us</p>
              </div>

              <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="500">
                <span>03 make decision </span>
                <h4> Thinking</h4>
                <p>Thoughts are ideas, perceptions, or opinions produced by thinking, or occurring suddenly in the mind</p>
              </div>

              <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="500">
                <span>04 Time Spending </span>
                <h4> Judging</h4>
                <p>Form and express judgments</p>
              </div>

              <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="500">
                <span>04 Time Spending </span>
                <h4> Perceiving</h4>
                <p>Decide what to do as we do it, rather than forming a plan ahead of time </p>
              </div>


    
            </div>
    
          </div>
        </section>End Steps Section -->
    
        
    
        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container">
    
                <div class="section-title" data-aos="fade-up">
                <h2>Pricing</h2>
                
                </div>
    
                <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4 class="title"><a href=""> Daily </a></h4>
                    <p class="description"> all features for 24 hours
                    </p>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">Weekly</a></h4>
                    <p class="description"> all features for one week </p>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title"><a href=""> Monthly </a></h4>
                    <p class="description"> all features for one month 
                    </p>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box icon-box-blue">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a href="">One time </a></h4>
                    <p class="description">  all features forever </p>
                    </div>
                </div>
    
                </div>
    
            </div>
            </section><!-- End Services Section -->
    
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>Testimonials</h2>
              <p> please check links of testimonials and feel free to contact them </p>
            </div>
    
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">
                
                <!-- testimony - sulemaan -->
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        This service helped me get a software engineer internship at <b> Ford Motor </b> 
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                    <h3>Sulemaan Farooq</h3>
                    <h4> Ford Motor Company </h4>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        This service helped me get a data analyst internship at <b> Deloitte </b> 
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                    <h3>TBT</h3>
                    <h4> Deloitte </h4>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        This service helped me get a data analyst internship at <b> Signify </b> 
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                    <h3>TBT</h3>
                    <h4> Signify </h4>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        This service helped me get a software engineer internship at <b> DataDog </b> 
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                    <h3>TBT</h3>
                    <h4> DataDog </h4>
                  </div>
                </div>
    
                
    
              </div>
              <div class="swiper-pagination"></div>
            </div>
    
          </div>
        </section><!-- End Testimonials Section -->
    
    
        <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq section-bg">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>F.A.Q</h2>
              <p> Here are some frequently asked questions </p>
            </div>
    
            <div class="faq-list">

              <ul>
                <li data-aos="fade-up">
                  <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1"> What do we do <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                    <p>
                      We leverage different API's for translation and audio dubbing and use the best one with the help of data science models
                    </p>
                  </div>
                </li>

              </ul>


            </div>
    
          </div>
        </section><!-- End F.A.Q Section -->
    
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>Contact</h2>
              <p> Please reach out to us</p>
            </div>
    
            <div class="row no-gutters justify-content-center" data-aos="fade-up">
    
              <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                  <div class="address">
                    <i class="bi bi-geo-alt"></i>
                    <h4>Location:</h4>
                    <p> Edison, NJ, 08817 </p>
                  </div>
    
                  <div class="email mt-4">
                    <i class="bi bi-envelope"></i>
                    <h4>Email:</h4>
                    <p>shf46@rutgers.edu</p>
                  </div>
    
                  <div class="phone mt-4">
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <p>+1 9174565697</p>
                  </div>
    
                </div>
    
              </div>
              
              <div class="col-lg-5 d-flex align-items-stretch">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4254.49141131519!2d-74.44999768758201!3d40.500844550394916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3c65518be06bf%3A0x51b42066917aaf48!2sRutgers%E2%80%93New%20Brunswick!5e1!3m2!1sen!2sus!4v1690555818221!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <!-- <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4254.49141131519!2d-74.44999768758201!3d40.500844550394916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3c65518be06bf%3A0x51b42066917aaf48!2sRutgers%E2%80%93New%20Brunswick!5e1!3m2!1sen!2sus!4v1690555818221!5m2!1sen!2sus" frameborder="0" allowfullscreen></iframe> -->
              </div>
    
            </div>
    
            <div class="row mt-5 justify-content-center" data-aos="fade-up">
              <div class="col-lg-10">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Contact Section -->
    
      </main><!-- End #main -->
    
      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                  <h3>Maxim</h3>
                  <p>
                    Edison, NJ <br>
                    <strong>Phone:</strong> +1 9174565697 <br>
                    <strong>Email:</strong> shf46@rutgers.edu <br>
                  </p>
                  <div class="social-links mt-3">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"> AI - personal website creator </a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"> AI - resume </a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"> AI - cover letter </a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"> AI - Image generator </a></li>
                </ul>
              </div>
    
              <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Our Newsletter</h4>
                <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                <form action="" method="post">
                  <input type="email" name="email"><input type="submit" value="Subscribe">
                </form>
    
              </div>
    
            </div>
          </div>
        </div>
    
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>Maxim</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </footer>End Footer -->
    
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
      <!-- Vendor JS Files -->
      <script src="static/vendor/aos/aos.js"></script>
      <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="static/vendor/php-email-form/validate.js"></script>
    
      <!-- Template Main JS File -->
      <script src="static/js/main.js"></script>
    
    </body>
    
{% endblock %}